.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    margin: 0 5px;
    cursor: pointer;
}

.pagination__item:hover {
    background-color: #ccc;
}

.pagination__item--active {
    background-color: #ccc;
}

.pagination__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.fas {
    font-size: 14px;
}

.fa-chevron-left {
    transform: rotate(180deg);
}

.fa-chevron-right {
    transform: rotate(0deg);
}